* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4
}

/* header */

header {
    color: #f4f4f4;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* nav */

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: 0px;
    padding: 0px 0;
    position: fixed;
    z-index: 999;
}

nav img {
    margin-left: 10px;
}

nav ul li {
    align-items: center;
    margin: 10px 20px;
    margin-top: 10px;
    font-size: large;
    transition-duration: 0.6s;
    padding-right: 20px;
    position: relative;
    text-align: center;
}

nav ul li:hover {
    transform: scale(1.2);
}

nav ul li:before {
    content: "";
    position: absolute;
    left: 42%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.5s;
}

nav ul li:hover:before {
    width: 100%;
}

/* cabeçalho */

.cabecalho {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.cabecalho li {
    margin: 30px 15px;
}

.cabecalho a {
    color: #fff;
    text-decoration: none;
}

/* carossel */

.slider {
    background-color: #f4f4f4;
    margin: 0 auto;
    margin-top: 4.2rem;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 5%;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;

}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto section {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto section:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #000000;
}

#radio1:checked~.nav-auto .auto-btn1 {
    background-color: #000000;
}

#radio2:checked~.nav-auto .auto-btn2 {
    background-color: #000000;
}

#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #000000;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

/* catálogo */

.catalogo {
    background-color: #f4f4f4;
    padding: 50px;
}

.titulo-catalogo {
    text-align: center;
    margin-top: 3%;
}

.subtitulo-catalogo {
    text-align: center;
    margin-top: 3%;
    width: 100%;
    justify-content: center;
}

.cards-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-top: -3%;
}

.card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px;
    padding: 1%;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
}

.card-item img{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

.card-texto {
    margin-top: 15px;
}

.card-botao {
    transition-duration: 0.5s;
    
    margin-top: -5%;
    justify-content: center;
    margin: 0 auto; 
    float: none; 
}

.card-botao:hover {
    transform: scale(1.1);
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: #000000;
}

/* sobre */

.sobre {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.titulo-sobre {
    text-align: center;
}

.texto-sobre {
    text-align: left;
    margin-top: 30px;
    margin-left: 3%;
    float: left;
}

.midia-sobre {
    display: flex;
    float: left;
}

.img-sobre {
    width: 100%;
    margin-right: -1%;
}

/* footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social-contato,
.contato-contato {
    flex: 1;
    text-align: center;
}

.social-contato a,
.contato-contato a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

/* icones do Bootstrap */

.bi {
    display: inline-block;
    font-size: 1rem;
    vertical-align: text-bottom;
    margin-right: 3px;
}

/* last */

.last {
    text-align: center;
    margin-top: 20px;
}

/* Adaptação para diferentes tamanhos de tela */
@media screen and (max-width: 768px) {

       /* cabecario principal */
       .cabecalho, .logo{
        display: none;
    }


    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    .cabecalho li {
        margin: 10px 0;
    }

    .cards-catalogo {
        display: flex;
        align-items: center;
    }

    .card-item {
        max-width: 100%;
        margin: 20px;
    }
    
}

@media(max-width: 425px){
      
      /* cabecario principal */
      .cabecalho, .logo{
        display: none;
    }
   




    .cards-catalogo{
        flex-direction: column;
    }

    .card-item{
        width: 80%;
    }

    .img-sobre img{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}






/* icone do whatsapp */

.bi-whatsapp{
    margin-bottom: 2px;
    margin-left: 1px;
}

.icon {
    position: fixed;
    bottom: 50px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
    margin: -15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon:hover {
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 2px #5fe690;

}


.logo {
    max-width: 100px;
}